@font-face {
    font-family: 'GT America Extended';
    src: url("../fonts/GTAmerica-ExtendedLight.eot");
    src: url("../fonts/GTAmerica-ExtendedLight.eot?#iefix") format('embedded-opentype'),
        url("../fonts/GTAmerica-ExtendedLight.woff2") format('woff2'),
        url("../fonts/GTAmerica-ExtendedLight.woff") format('woff'),
        url("../fonts/GTAmerica-ExtendedLight.svg") format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Extended';
    src: url("../fonts/GTAmerica-ExtendedBold.eot");
    src: url("../fonts/GTAmerica-ExtendedBold.eot?#iefix") format('embedded-opentype'),
        url("../fonts/GTAmerica-ExtendedBold.woff2") format('woff2'),
        url("../fonts/GTAmerica-ExtendedBold.woff") format('woff'),
        url("../fonts/GTAmerica-ExtendedBold.svg") format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}
  


body {
    margin: 0;
    font-size: 100%;
    overflow-y: scroll;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'GT America Extended';
    font-size: 8vw;
    line-height: 0.9;
    max-height: 75vw;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    font-family: 'GT America Extended';
    font-size: 36px;
    margin: 0 0 0 30px;
    text-align: left;
    height: 72px;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grey h2 {
    font-family: 'GT America Extended';
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
    font-family: 'GT America Extended';
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 1.1;
    max-width: 600px;
}

.element {
    height: 100vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    
}

.two-panel {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;

}

.pink {
    height: 100%;
    background-image: url("https://res.cloudinary.com/dtmlnugky/image/upload/v1702550872/runnersrose_RT_wylk0g.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 40px 10px 40px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.pink.yellow-colour {
    background-image: url("https://res.cloudinary.com/dtmlnugky/image/upload/v1702550883/cycling3yellow_gfcpoy.jpg");
}

.yellow {
    height: auto;
    background-color: #dbc698;
    padding: 20px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100vw;
}

.pink.grey-colour {
    background-image: url("https://res.cloudinary.com/dtmlnugky/image/upload/v1702550835/swimmer2white_qdvjqh.jpg");
    height: auto;
}

.pink.grey-colour:last-of-type {
    background-image: url("https://res.cloudinary.com/dtmlnugky/image/upload/v1702550848/skijumpwhite_gcyhah.jpg");
}

.pink.grey-colour.two {
    background-image: url("https://res.cloudinary.com/dtmlnugky/image/upload/v1702565703/canoewhite_psednl.jpg");
}

.yellow.grey-colour {
    background-color: #dcdcdc;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
    padding-left: 0px;
}

.grey {
    width: 50vw;
    height: 100%;
    background-color: #dcdcdc;
    padding: 15px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 50vw;
}

.grey.pink-colour {
    background-color: #e3beaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.grey.pink-colour {
    background-color: #dbc698;

}

.grey.pink-colour.yellow {
    background-color: #dbc698;
}

.grey.pink-colour.two {
    min-height: calc(100vh - 152px);
}

.grey.pink-colour.two {
    justify-content: end;
}

.grey.yellow-colour {
    background-color: #dbc698;
    min-width: 50vw;
    min-height: calc(100vh - 152px);
}

.yellow.pink-colour {
    background-color: #e3beaa;
}



.grey p {
    font-family: Arial, sans-serif;
    font-size: 18px;

    margin-bottom: 0;
}

.logotype {
    display: block;
    width: 150px;
    margin-right: calc(50vw - 140px);
}

li {
    text-decoration: none;
    list-style: none;
    padding-top: 0px;
    margin-top: -7px;
}

li a:hover {
    font-weight: bold;
}



.line {
    margin-top: 20px;
    border-top: 1px solid black;
}

a {
    text-transform: uppercase;
    font-family: 'GT America Extended';
    text-decoration: none;
    color: black;
    font-size: 36px;
    line-height: 1.3;
    width: auto;`
    display: flex;
    flex-direction: row;
    height: 32px;
    justify-content: space-between;
}

.contact p {
    font-size: 24px;
}


p {
    max-width: 650px;
}

.section-2 {
    background-color: #dcdcdc;
    height: auto;
    min-height: 100vh;
    
}



.paragraph-link {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-transform: none;
}

.services-link {
    font-weight: bold;
}

.section-2 .two-panel {
    flex-direction: row ;
}

.element.services { 
    height: auto;
}

.pink.yellow-colour.two {
    background-image: url("https://res.cloudinary.com/dtmlnugky/image/upload/v1702570534/trackrose_fplqrn.jpg");
}
footer {
    height: 150px;
    background-color: #dcdcdc;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: end;
}

footer div {
    width: 50%;
    padding: 26px 36px;
}

footer p {
    margin: 0;
    font-family: Arial, sans-serif;
}



.footer-pink {
    background-color: #e3beaa;
}

u {
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 1px;;
}

@media screen and (max-width: 1000px) {

.logotype {
    width: 100px;
}

h1 {
    font-size: 12vmin;
}

h1:first-of-type {
    margin-top: 2vmin;

}

ul {
    margin-top: 2px;
    margin-bottom: -5px;
}

li {
    margin-left: 28px;
}

a {
    font-size: 22px;
    line-height: 1.35;
}

    .element {
        height: 100%;
        }    

    .two-panel {
        flex-direction: column;
    }

    .grey {
        height: auto;
        padding: 3px 20px 15px 20px;
        width: 100%;
        justify-content: start;

    }

    .pink {
        padding: 15px 20px;
        width: 100%;
    }



    .yellow {
        flex-direction: row;
        padding: 15px 20px;
    }

    .element {
    height: calc(var(--vh, 1vh) * 100);
    }

    .element.services { 
        height: auto;
        min-height: 100vh;
    }

    .section-2 {
        height: auto;
        min-height: 100vh;
    }
    
    .element.about {
        height: auto;
        min-height: 100vh;
        background-color: #e3beaa;
    }

    .pink.yellow-colour {
        height: 70vw;
    }

    .pink.grey-colour {
        height: 70vw;
    }
    .section-2 .two-panel {
        flex-direction: column-reverse;
    }

    .grey.pink-colour.two {
        justify-content: start;
    }

    h3 {
        font-size: 24px;
    }

    footer div:last-of-type {
        width: 50%;
        padding: 26px 0px;
    }
}



@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

    h1 {
        margin: 0;
        width: 40vmax;
        font-size: 5.8vmax;
    }
}    


@media screen and (max-width: 600px) {
   
}